.btn {
  padding: 10px 30px;
  font-size: 1em;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  cursor: pointer;
}

.btn-primary {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

.btn-dark {
  border: 1px solid var(--dark);
  background-color: var(--dark);
  color: var(--white);
}

.btn-success {
  border: 1px solid var(--success);
  background-color: var(--success);
  color: var(--white);
}

.btn-warning {
  border: 1px solid var(--warning);
  background-color: var(--warning);
  color: var(--dark);
}

.btn-danger {
  border: 1px solid var(--danger);
  background-color: var(--danger);
  color: var(--white);
}